/* footerを常に画面の最下部に表示する */

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}
footer {
    background: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

/* headerを上部に表示 */
header {
    position: relative;
    background: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

nav {
    position: relative;
}

nav #home_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; /* Flexbox を使用して中央揃え */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    height: 100%; /* aタグの高さをnavの高さに合わせる。absoluteに設定したので、親要素の高さが明示的でない場合aタグはつぶれる可能性がある。 */
}

nav #home_btn img {
    height: 80%;
    width: auto;
}

/* index.html ------------------------------------------- */
/* - header */
.header-content {
    flex: 1;
    text-align: center;
}

.certification {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 20px;
}

/* .certification a,　→btn btn-primary btn-lgクラスで代用
.certification-min a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #555;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.certification a:hover {
    background-color: #777;
} */

/* - .signin  */
#loginForm {
    display: flex;
    flex-direction: column;
}

/* - .video-container */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9アスペクト比（高さ / 幅 × 100） */
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.certification-min {
    display: none;
}

@media (max-width: 768px) {
        .certification {
            display: none;
            position: static;
        }

        .certification-min {
            display: block;
        }
}

/* account.html ------------------------------------------- */

.accountimg {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 0;
}

.custom_bg {
    background-color: #e0f7fa; /* 薄い青色 */
}

/* summarizer.html ------------------------------------------- */

.new-summary-area {
        height: 150px; /* 4行分の高さを設定（1行あたり約37.5pxとして計算） */
        resize: vertical; /* 縦にリサイズできるようにする（オプション） */
}