<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="my-2 text-center">{{ current_user.name }}'s Home</h1>
    <div class="row g-3 mb-3 mt-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">
                <h4 class="custom_bg">Book Management</h4>
                <div class="d-flex mt-4">
                    <a href="{{ url_for('main.registration') }}" class="mx-2 no-style">
                        <p class="m-0">BOOK</p>
                        <img class="svgImg" src="/static/img/square-plus-solid.svg" alt="Add a new book">
                        
                    </a>
                    <a href="{{ url_for('main.book_list') }}" class="mx-2 no-style">
                        <p class="m-0">GROUP</p>
                        <img class="svgImg" src="/static/img/square-plus-solid.svg" alt="Add a new group">
                        
                    </a>
                </div>
                <div class="my-4">
                    <label for="bookGroupSelect">Select Book Group</label>
                    <select id="bookGroupSelect" class="form-control">
                            <option value="">-- All books --</option>
                        {% for book_group in book_groups %}
                            <option value="{{ book_group.g_id }}">{{ book_group.g_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="my-4">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-4" id="groupInfo">
                        {% for book in books %}
                        <div class="col md-4 mb-3">
                            <a href="{{url_for('main.summarizer', book_id=book.book_id, book_name=book.book_name)}}">
                                <div class="card">
                                    <img src="/static/img/dog.jpg" alt="Book Cover" class="card-img-top">
                                    <div class="card-body">
                                        <p class="card-title">{{ book.book_name }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">
                <h4 class="custom_bg">Account Management</h4>
                <div class="row g-2 mt-1"> <!-- 内部のグリッド間隔も調整 -->
                    <div class="col-2">
                        <img class="accountimg" src="../static/img/dog.jpg" alt="">
                    </div>
                    <div class="col-md-10">
                        <dl>
                            <dt>Name:</dt>
                            <dd id="name">{{ current_user.name }}</dd>
                    
                            <dt>Email:</dt>
                            <dd id="email">{{ current_user.email }}</dd>
                    
                            <dt>Password:</dt>
                            <dd id="password">******</dd>

                            <a href="###" class="btn btn-dark btn-lg">Update</a>
                        </dl>
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function01</div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function02</div>
        </div>
    </div>
    <div class="row g-3 mb-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function03</div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function04</div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/static/js/book_group.js"></script>
{% endblock %}