<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row g-3 mb-3 mt-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">
                <h4>Book Management</h4>
                <h5>Books recently added summaries.</h5>
                <ul>
                    {% for book in books[:10] %}
                    <li><a href="{{url_for('main.summarizer', book_id=book.book_id, book_name=book.book_name)}}">{{book.book_name}}</a></li>
                    {% endfor %}
                </ul>
                <a class="btn btn-dark btn-lg" href="{{url_for('main.book_list')}}">Show All</a>
                <a class="btn btn-dark btn-lg" href="{{url_for('main.registration')}}">Add a New Book</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">
                <h4>Account Management</h4>
                <div class="row g-2 mt-1"> <!-- 内部のグリッド間隔も調整 -->
                    <div class="col-2">
                        <img class="accountimg" src="../static/img/dog.jpg" alt="">
                    </div>
                    <div class="col-md-10">
                        <dl>
                            <dt>Name:</dt>
                            <dd id="name">{{ current_user.name }}</dd>
                    
                            <dt>Email:</dt>
                            <dd id="email">{{ current_user.email }}</dd>
                    
                            <dt>Password:</dt>
                            <dd id="password">******</dd>
                    
                            <dt>Last 10 books</dt>
                            <dd id="readinglist">
                                <div class="row p-3">
                                    <ul class="col-md-6 mb-0">
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                    </ul>
                                    <ul class="col-md-6 mb-0">
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function01</div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function02</div>
        </div>
    </div>
    <div class="row g-3 mb-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function03</div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function04</div>
        </div>
    </div>
</div>
{% endblock %}