{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row g-3 mb-3 mt-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">
                <h4>Book List Manager</h4>
                <div class="row g-3 mb-3 mt-3"> <!-- グリッド間隔を3に設定 -->
                    <div class="col-6"><a class="btn btn-dark btn-lg" href="{{url_for('main.book_list')}}">Add a New Book</a></div>
                </div>
                <ul>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                    <li>aaaaaaaaaaaaaa</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">
                <h4>Account Management</h4>
                <div class="row g-2 mt-1"> <!-- 内部のグリッド間隔も調整 -->
                    <div class="col-2">
                        <img class="accountimg" src="../static/img/dog.jpg" alt="">
                    </div>
                    <div class="col-md-10">
                        <dl>
                            <dt>Name:</dt>
                            <dd id="name">{{ current_user.name }}</dd>
                    
                            <dt>Email:</dt>
                            <dd id="email">{{ current_user.email }}</dd>
                    
                            <dt>Password:</dt>
                            <dd id="password">******</dd>
                    
                            <dt>Last 10 books</dt>
                            <dd id="readinglist">
                                <div class="row p-3">
                                    <ul class="col-md-6 mb-0">
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                    </ul>
                                    <ul class="col-md-6 mb-0">
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                        <li>aaaaaaa</li>
                                    </ul>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>              
            </div>
        </div>
    </div>
    <div class="row g-3 mb-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function01</div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function02</div>
        </div>
    </div>
    <div class="row g-3 mb-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function03</div>
        </div>
        <div class="col-md-6">
            <div class="border border-primary rounded shadow p-3">function04</div>
        </div>
    </div>
</div>
{% endblock %}