<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>BOOK LIST</h1>
    <div class="row g-3 mb-3 mt-3"> <!-- グリッド間隔を3に設定 -->
        <div class="col-6"><a class="btn btn-dark btn-lg" href="{{url_for('main.registration')}}">Add a New Book</a></div>
    </div>
    {% for book in books %}
    <div class="row m-1 p-3 border boder-primary g-4">
        <div class="d-flex justify-content-center align-items-center col-3" style="background-color: #ffffff;">
            <img src="../static/img/sample.jpg" alt="" class="img-fluid" style="max-height: 100%; width: auto;">
        </div>
        <table class="col-7">
            <tr>
                <th>BOOK TITLE</th>
                <td><a href="{{url_for('main.summarizer', book_id=book.id, book_name=book.book_name)}}">{{book.book_name}}</a></td>
            </tr>
            <tr>
                <th>AUTHOR</th>
                <td>{{book.author}}</td>
            </tr>
            <tr>
                <th>PUBLISHED DATE</th>
                <td>{{book.published_date}}</td>
            </tr>
            <tr>
                <th>ADDED DATE</th>
                <td>{{book.b_created_at}}</td>
            </tr>
            <tr>
                <th>Summaries</th>
                <td>ここに要約の総数を表示する</td>
            </tr>
        </table>
        <div class="col-2">ここには本の進度をグラフで</div>
    </div>
    {% else %}
    <tr>
        <td colspan="3">No books found.</td>
    </tr>
    {% endfor %}
</div>
{% endblock %}