{% extends 'base.html' %}

{% block title %}Let's summarize your book and brain !{% endblock %}


{% block header %}
<header class="index-header">
    <div class="header-content">
        <h1><a href="">Summary</a></h1>
    </div>
    <div class="certification">
        <a href="/user_signup" class="btn btn-primary btn-lg">sign up</a>
        <a href="/user_signin" class="btn btn-primary btn-lg">sign in</a>
    </div>
</header>
{% endblock %}


{% block content %}
    <!-- Discription youtube movie -->
    <div class="container mt-5 certification-min">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <p>If you have used this service before, please sign in here.</p>
                <a href="/user_signup">sign up</a>
            </div>
            <div class="col-12 text-center">
                <p>If you are a first time user, sign up here</p>
                <a href="/user_signin">sign in</a>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/QGth3DRPN7U?si=7Cw4YhLddp0BleWg" 
                            title="YouTube video player" 
                            frameborder="0" 
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" 
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <p></p>
    </div>
{% endblock %}